nav {
    
    background-color: rgb(217, 217, 228);
    padding-bottom: 0.5rem;
   box-sizing: border-box;
    
  }
  nav  {
    padding: 10px;;
  }
  nav{
    background-color: rgb(187, 113, 113);
    margin: 10px;
  }