



 <div class="search">
    <input type="text" [(ngModel)]="searchTitle">
    <button (click)="find()">Search</button>
  </div>
  
  <div *ngIf="message" [ngClass]="{'success': exist, 'error': !exist}">
    {{message}}
  </div>
  <h2>Empty value</h2>
  <div class="content-list-container">
      <app-content-card  *ngFor="let items of contentItem | pipe:''"  [items]="items" ></app-content-card>
    </div>
  <h2>run</h2>
    <div class="content-list-container">
      <app-content-card *ngFor="let items of contentItem | pipe:'run'"  [items]="items" ></app-content-card>
    </div>
    <h2>race</h2>
    <div class="content-list-container">
      <app-content-card *ngFor="let items of contentItem | pipe:'race'" [items]="items" ></app-content-card>
    </div>