<div [ngClass]="{'type1': items.type === 'race', 'type2': items.type === '','type3':items.type==='run'}">
<header class="header">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5  bind-innerHtml="items.id"></h5>
      <header>
      <p class="card-text" appHoverAffect    hoverAffect="bold" bind-innerHtml="items.title"></p></header>
      <p class="card-text"bind-innerHtml="items.description"></p>
      <p class="card-text"bind-innerHtml="items.creator"></p>
      <p class="card-text" appHoverAffect    hoverAffect="underline" bind-innerHtml="items.type"></p>
      <div [ngSwitch]="items.imgURL">
        <img   *ngSwitchCase="''" src="{{default}}" (click)="Onclick(items)" class="card-img-top" alt="...">
        <img   *ngSwitchDefault src="{{items.imgURL}}" (click)="Onclick(items)" class="card-img-top" alt="...">
       </div>
      
    </div>
  </div>
  </header>
  