<!-- <div [ngClass]="{'type1': items.type === 'race', 'type2': items.type === '','type3':items.type==='run'}">
<header class="header">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5  bind-innerHtml="items.id"></h5>
      <header>
      <p class="card-text" appHoverAffect    hoverAffect="bold" bind-innerHtml="items.title"></p></header>
      <p class="card-text"bind-innerHtml="items.description"></p>
      <p class="card-text"bind-innerHtml="items.creator"></p>
      <p class="card-text" appHoverAffect    hoverAffect="underline" bind-innerHtml="items.type"></p>
      <div [ngSwitch]="items.imgURL">
        <img   *ngSwitchCase="''" src="{{default}}" (click)="Onclick(items)" class="card-img-top" alt="...">
        <img   *ngSwitchDefault src="{{items.imgURL}}" (click)="Onclick(items)" class="card-img-top" alt="...">
       </div>
      
    </div>
  </div>
  </header> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <mat-card style="margin: 5px;" class="example-card">
          <mat-card-header>
            <mat-card-title>{{items.creator}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{items.imgURL}}"  >
          <mat-card-content>
            <p>
              {{items.description}}
            </p>
          </mat-card-content>

          <mat-card-footer>
            <button mat-raised-button (click)="updateContent(items)">update</button>
          </mat-card-footer>
         
        </mat-card>

      </div>
    </div>
  </div>
  