<div class="container">
    <div class="row mt-md-4">
        <div class="col-md-12"> 
        <h2> {{formBtn}}</h2>    </div>
    </div>
    <div class="row">
       
 
      <form  #myForm="ngForm" (submit)="add(title, description, creator, imgURL, type, tags)"  >

        <div class="form-group row">
         
          <div class="col-md-6">
            <mat-label>Title</mat-label>
            <input matInput class="form-control" id="title" name="title" required [(ngModel)]="title">
          </div>
      
          <div class="col-md-6"> 
            <mat-label>Description</mat-label>
            <input matInput id="description" class="form-control" name="description" required [(ngModel)]="description">
          </div>
      
        </div>
        
        <div class="form-group row"> 
          <div class="col-md-6"> 
            <mat-label>Creator</mat-label>
            <input matInput class="form-control" id="creator" name="creator" required [(ngModel)]="creator">
          </div>
          <div class="col-md-6"> 
            <mat-label>Image URL</mat-label>
            <input matInput class="form-control" id="imgURL" name="imgURL" [(ngModel)]="imgURL">
          </div>
        </div>
      
        <div class="form-group row"> 
          <div class="col-md-6"> 
            <mat-label>Type</mat-label>
            <input matInput class="form-control" id="type" name="type" [(ngModel)]="type">
          </div>
          <div class="col-md-6"> 
            <mat-label>Tags</mat-label>
            <input matInput class="form-control" id="tags" name="tags" [(ngModel)]="tags">
          </div>
        </div>
      
        <div class="mt-md-4 row">
          <div class="col-md-2">
            <button mat-button mat-dialog-close color="basic">cancel</button>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" type="submit">{{formBtn}}</button>
          </div>
        </div>
      
      </form>
      
</div>


<!-- <div class="row">
    <div class="col-md-6" *ngFor="let item of content">
        <div class="card">
            <div class="card-body">
                <p>Title :{{item.title}}</p>
                <img  *ngIf="item.imgURL"   src="{{item.imgURL}}"   class="card-img-top" alt="...">
                <p> Creator{{item.creator}}</p>
                <p>Tags:{{item.tags}}</p>
            </div>
        </div>
    </div>
</div> -->

      
    
</div>